form {
    max-width: 80%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: $spacing-sm $spacing-md;
    margin: $spacing-sm 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

    &.input {
        &--hidden {
            display: none;
        }
    }
}

input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: $spacing-sm $spacing-md;
    margin: $spacing-sm 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.form--error {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f8d7da; // Light red/pink background
    border: 1px solid #f5c6cb; // Slightly darker red/pink border
    border-radius: 0.25rem;
    color: #721c24; // Dark red text color for contrast and readability

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 0.5rem; // Space out the error messages

            &:last-child {
                margin-bottom: 0; // Remove bottom margin for the last item
            }
        }
    }
}
