.header {
    background-color: $color-dark;
    color: $color-light;
    padding: $spacing-sm 0;

    .container {
        @include flex-between;

        h2 {
            width: fit-content;
            display: inline-block;
            font-size: 1.2em;
            text-transform: uppercase;

            a {
                display: block;
                color: $color-light;
            }
        }

        ul {
            list-style: none;
            text-transform: uppercase;

            @include flex-between;

            a {
                color: $color-light;
            }
        }
    }
}
